form {
    display: flex;
    justify-content: center;
    margin: 2px;
    background: rgb(223, 202, 202);
    padding: 1em;
    flex-flow: column nowrap;
    align-items: center;
    border-radius: 0.5em;
}
input {
    border-radius: 0.5em;
}
.send {
    border: none;
    border-radius: 1em;
    margin: 3px;
    background-image: linear-gradient(to left, rgb(78, 255, 78), rgb(15, 188, 211));
}
.send:hover {
    background-image: linear-gradient(to right, rgb(78, 255, 78), rgb(15, 188, 211));
}