header {
    height: 100px;
    background-image: linear-gradient(to left, rgb(78, 255, 78), rgb(15, 188, 211));
    display: flex;
    justify-content: center;
    align-items: center;
}
input {
    all: unset;
    background: transparent;
    color: white;
    border: 1px solid black;
    
}
input::placeholder {
    color: whitesmoke;
}