.task {
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
    background: white;
    border-radius: 0.3em;
    padding: 0.3em;
    margin: 0.3em;
}
.icons {
    opacity: 0.3;
    transition: opacity 500ms;
    width: 1.4em;
    height: 1.4em;
}
.icons:hover {
    opacity: 1;
}