<div class="task">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{ task.text }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ task.taskId }}</h6>

      <span *ngIf="!editing" (dblclick)="editDescription()">{{ task.description }}</span>
      <textarea autofocus type="textarea" *ngIf="editing" cols="30" rows="5"
        [(ngModel)]="newDescription"
        (keyup.enter)="editTaskDescription($event)" 
        (blur)="cancelEditDescription()"></textarea>

      <div class="icons">
        <img src="assets/images/borrar.png" alt="Borrar tarea" (click)="deleteTask()">
      </div>
    </div>
  </div>
</div>