<div class="task">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 *ngIf="!editNameBool" class="card-title" (dblclick)="editName()">{{ task.text }}</h5>
      <input type="text" *ngIf="editNameBool" 
      [(ngModel)]="newName"
      (keyup.enter)="updateTaskApi()"
      (blur)="cancelNameTask()">

      <h6 class="card-subtitle mb-2 text-muted">Id: {{ task.taskId }}</h6>

      <span class="description" *ngIf="!editDesBool" (dblclick)="editDescription()">{{ task.description }}</span>
      <textarea autofocus type="textarea" *ngIf="editDesBool" cols="30" rows="5"
        [(ngModel)]="newDescription"
        (keyup.enter)="editTaskDescription($event)" 
        (blur)="cancelEditDescription()"></textarea>
      <hr>
      <div class="colorTask" [(colorPicker)]="color" [style.background]="color" (colorPickerChange)="updateTaskColor(color)">
        <p>{{ task.color }}</p>
      </div>
      <div class="icons">
        <img src="assets/images/borrar.png" alt="Borrar tarea" (click)="deleteTask()">
      </div>
    </div>
  </div>
</div>