.list {
    padding: 0.5em;
    background-color: rgb(118, 199, 64);
    border-radius: 0.5em;
    margin: 1em;
}
.title {
    text-align: center;
    transition: 500ms;
}
h3:hover {
    border-radius: 0.5em;
    background-color: rgb(159, 253, 97);
}
h5 {
    opacity: 0.6;
}
.list input {
    all: unset;
    color: grey;
    border-bottom: 1px solid white;
    width: 100%;
}
img {
    opacity: 0.4;
    transition: 500ms;
    max-width: 30px;
}
img:hover {
    background-color: rgb(159, 253, 97);
    opacity: 1;
    border-radius: 0.3em;
    max-width: 35px;
}
.addTask {
    margin: 10px;
    transition: 500ms;
}
.addTask:hover {
    border-radius: 1em;
    background-color: rgb(159, 253, 97);
}