<div class="list">
  <h3 class="title">
    <span [hidden]="editing" (dblclick)="editName(editInput)">{{ list.name }}</span>
    <span [hidden]="!editing">
      <input name="listName" #editInput type="text" 
      (keyup.enter)="editListName()" 
      (blur)="cancelEditName()" 
      [(ngModel)]="newName">
    </span>
  </h3>
  <h5 class="title">{{ list.listId }}</h5>
  
  <div class="tasks">
    <app-task *ngFor="let taskObj of list.tasks" [task]="taskObj"></app-task>
  </div>

  <div class="addTask">
    <input type="text" placeholder="add task" (keyup.enter)="newTask($event)">
  </div>
  <span class="deleteList" href="#" (click)="deleteList(list.listId)">
    <img src="assets/images/borrar.png" alt="">
  </span>
  <span class="editList" href="#" (click)="editName(editInput)">
    <img src="assets/images/editar.png" alt="">
  </span>
</div>
<!-- {{ list | json }} -->