.list {
    padding: 0.5em;
    background-color: blanchedalmond;
    border-radius: 0.5em;
    margin: 1em;
}
.list input {
    all: unset;
    color: grey;
    border-bottom: 1px solid white;
    width: 100%;
}
/* .deleteList {
    background: tomato;
    text-align: center;
    border-radius: 0.5em;
    width: 2.8em;
    padding: 0.2em;
    margin: 0.5em;
} */
img {
    opacity: 0.4;
    transition: opacity 500ms;
}
img:hover {
    background-color: rgb(223, 248, 110);
    opacity: 1.5;
}
.addTask {
    margin: 10px;
}
.addTask:hover {
    border: 1px solid black;
}